In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
books = pd.read_csv('data/BX-Books.csv', sep=";", on_bad_lines='skip', encoding='latin-1', low_memory=False)

In [3]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [4]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [39]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L']]

KeyError: "['Book-Title', 'Year-Of-Publication'] not in index"

In [6]:
books.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [7]:
books.rename(columns={
    "Book-Title":"Title",
    "Year-Of-Publication":"Year"}, inplace=True)

In [8]:
books.head(3)

,ISBN,Title,Book-Author,Year,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [9]:
users = pd.read_csv('data/BX-Users.csv', sep=";", on_bad_lines='skip', encoding='latin-1', low_memory=False)

In [11]:
ratings= pd.read_csv('data/BX-Book-Ratings.csv', sep=";", on_bad_lines='skip', encoding='latin-1', low_memory=False)

In [12]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [13]:
ratings.rename(columns={
    "User-ID":"user_id",
    "Book-Rating":"rating"}, inplace=True)

In [14]:
ratings.head(3)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0

In [15]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [16]:
ratings['user_id'].unique().shape

(105283,)

In [17]:
x= ratings['user_id'].value_counts() >200

In [18]:
y=x[x].index

In [19]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [20]:
ratings[ratings['user_id'].isin(y)]

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

In [21]:
ratings.shape

(1149780, 3)

In [22]:
Ratings_with_books = ratings.merge(books, on="ISBN")

In [23]:
Ratings_with_books.head(1)

,user_id,ISBN,rating,Title,Book-Author,Year,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [24]:
num_rating = Ratings_with_books.groupby('Title')['rating'].count().reset_index()

In [25]:
num_rating.head()

                                               Title  rating
0   A Light in the Storm: The Civil War Diary of ...       4
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Ask Lily (Young Women of Faith: Lily Series, ...       1
4   Beyond IBM: Leadership Marketing and Finance ...       1

In [26]:
num_rating.rename(columns={
    "rating":"count",}, inplace=True)

In [27]:
num_rating.head()

                                               Title  count
0   A Light in the Storm: The Civil War Diary of ...      4
1                              Always Have Popsicles      1
2               Apple Magic (The Collector's series)      1
3   Ask Lily (Young Women of Faith: Lily Series, ...      1
4   Beyond IBM: Leadership Marketing and Finance ...      1

In [29]:
final_rating = Ratings_with_books.merge(num_rating,on='Title')

In [30]:
final_rating.head(1)

,user_id,ISBN,rating,Title,Book-Author,Year,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,count
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,60

In [33]:
final_rating = final_rating[final_rating['count']>=50]

In [34]:
final_rating.head()

,user_id,ISBN,rating,Title,Book-Author,Year,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,count
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,60
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,650
6,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,838
7,276746,0425115801,0,Lightning,Dean R. Koontz,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,http://images.amazon.com/images/P/0425115801.0...,http://images.amazon.com/images/P/0425115801.0...,274
8,276746,0449006522,0,Manhattan Hunt Club,JOHN SAUL,2002,Ballantine Books,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...,111

In [35]:
final_rating.sample(10)

,user_id,ISBN,rating,Title,Book-Author,Year,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,count
887648,238120,0670031062,0,Must Love Dogs: A Novel,Claire Cook,2002,Viking Books,http://images.amazon.com/images/P/0670031062.0...,http://images.amazon.com/images/P/0670031062.0...,http://images.amazon.com/images/P/0670031062.0...,55
800164,216386,0671027360,0,Angels &amp; Demons,Dan Brown,2001,Pocket Star,http://images.amazon.com/images/P/0671027360.0...,http://images.amazon.com/images/P/0671027360.0...,http://images.amazon.com/images/P/0671027360.0...,670
31413,8663,0446679593,0,Suzanne's Diary for Nicholas,James Patterson,2002,Warner Books,http://images.amazon.com/images/P/0446679593.0...,http://images.amazon.com/images/P/0446679593.0...,http://images.amazon.com/images/P/0446679593.0...,457
60075,14433,0446610100,0,Wish You Well,David Baldacci,2001,Warner Books,http://images.amazon.com/images/P/0446610100.0...,http://images.amazon.com/images/P/0446610100.0...,http://images.amazon.com/images/P/0446610100.0...,234
902450,241791,0140293442,0,Fever Pitch,Nick Hornby,2000,Penguin Books Ltd,http://images.amazon.com/images/P/0140293442.0...,http://images.amazon.com/images/P/0140293442.0...,http://images.amazon.com/images/P/0140293442.0...,71
464162,125580,0425152251,0,Sophie's World: A Novel About the History of P...,Jostein Gaarder,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425152251.0...,http://images.amazon.com/images/P/0425152251.0...,http://images.amazon.com/images/P/0425152251.0...,230
1019933,273458,0451203895,4,4 Blondes,Candace Bushnell,2002,Signet Book,http://images.amazon.com/images/P/0451203895.0...,http://images.amazon.com/images/P/0451203895.0...,http://images.amazon.com/images/P/0451203895.0...,151
375456,100256,044651652X,10,The Bridges of Madison County,Robert James Waller,1992,Warner Books,http://images.amazon.com/images/P/044651652X.0...,http://images.amazon.com/images/P/044651652X.0...,http://images.amazon.com/images/P/044651652X.0...,443
355268,95509,0688149790,0,Babyhood,Paul Reiser,1997,William Morrow &amp; Company,http://images.amazon.com/images/P/0688149790.0...,http://images.amazon.com/images/P/0688149790.0...,http://images.amazon.com/images/P/0688149790.0...,75
492107,131482,0553280368,0,C Is for Corpse (Kinsey Millhone Mysteries (Pa...,Sue Grafton,1987,Bantam,http://images.amazon.com/images/P/0553280368.0...,http://images.amazon.com/images/P/0553280368.0...,http://images.amazon.com/images/P/0553280368.0...,177

In [36]:
final_rating.shape

(288740, 11)

In [41]:
final_rating.drop_duplicates(['user_id','Title'], inplace=True)

In [43]:
final_rating.shape

(285518, 11)

In [45]:
book_pivot = final_rating.pivot_table(columns= 'user_id', index='Title', values='rating')

In [46]:
book_pivot.head()

user_id,8,9,14,16,17,19,23,26,32,39,...,278820,278824,278828,278832,278836,278843,278844,278846,278851,278854
Title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 Lighthouse Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
book_pivot.shape

(2444, 47994)

In [48]:
book_pivot.fillna(0, inplace=True)

In [49]:
book_pivot.head()

user_id,8,9,14,16,17,19,23,26,32,39,...,278820,278824,278828,278832,278836,278843,278844,278846,278851,278854
Title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
from scipy.sparse import csr_matrix

In [52]:
book_sparse = csr_matrix(book_pivot)

In [53]:
book_sparse

<2444x47994 sparse matrix of type '<class 'numpy.float64'>'
	with 113483 stored elements in Compressed Sparse Row format>

In [58]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [59]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [78]:
distance, suggestion= model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6)

In [79]:
suggestion

array([[ 237, 1713,  770,   65, 1391,  284]], dtype=int64)

In [80]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Beloved (Plume Contemporary Fiction)', 'The Blooding',
       'Ground Zero and Beyond', 'A Secret Affair', 'Reasonable Doubt',
       'Blood and Gold (Rice, Anne, Vampire Chronicles.)'],
      dtype='object', name='Title')

In [64]:
book_pivot.index[20]

'A Cold Heart (Alex Delaware Novels (Paperback))'

In [67]:
book_pivot.index

Index(['10 Lb. Penalty', '16 Lighthouse Road', '1984', '1st to Die: A Novel',
       '2010: Odyssey Two', '204 Rosewood Lane', '2061: Odyssey Three',
       '24 Hours', '2nd Chance', '3rd Degree',
       ...
       'YOU BELONG TO ME', 'Year of Wonders', 'You Belong To Me',
       'You Shall Know Our Velocity', 'Young Wives',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"',
       '\Surely You're Joking, Mr. Feynman!\": Adventures of a Curious Character"',
       'stardust'],
      dtype='object', name='Title', length=2444)

In [71]:
books_name= book_pivot.index

In [76]:
import os
import pickle

# Ensure the directory exists
os.makedirs('artifacts', exist_ok=True)

# Save the model
pickle.dump(model, open('artifacts/model.pkl', 'wb'))

# Ensure the directory exists
os.makedirs('books_name', exist_ok=True)

# Save the books_name
pickle.dump(books_name, open('artifacts/books_name.pkl', 'wb'))
pickle.dump(final_rating, open('artifacts/final_rating.pkl', 'wb'))
pickle.dump(book_pivot, open('artifacts/book_pivot.pkl', 'wb'))

In [98]:
def recommend_book(book_name):
    book_id= np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion= model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)

    for i in range(len(suggestion)):
        books= book_pivot.index[suggestion[i]]
    for j in books:
       print(j)

In [101]:
book_name= 'Lightning'
recommend_book(book_name)

Lightning
Star
Now and Forever
Morning, Noon &amp; Night
Special Delivery: A Novel
Night Chills